<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Sample Form</ion-title>
    </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
    <br />
    <div class="container">
        <dynamic-form #dynamicForm [controls]="controls" [form]="form" [svgIconBasePath]="'assets/imgs/icons/'">
        </dynamic-form>
        <ion-button (click)="onSave()">Save</ion-button>
        <ion-button [gMaps]="tempAddress">Google Maps</ion-button>
    </div>
</ion-content> -->

<!-- <ion-footer>
    <ion-toolbar>
        <ion-title>Sample Form</ion-title>
    </ion-toolbar>
</ion-footer> -->

<ion-button (click)="openForm()">Open</ion-button>