<ion-header>
    <ion-toolbar>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <profile-card avatarUrl="https://miro.medium.com/max/1400/1*rHqXJXZ6E-da_3S4lVnVUw.jpeg" coverPhotoUrl="" coverBgColor="lightgray">
            <div class="card" style="border-width: 0px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </profile-card>
    </div>
</ion-content>